//grid container for home page layout
:host {
  height: 100%;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-gap: 10px;
  //height: 100vh;
  //width: 100vw;
  box-sizing: border-box;

  .header {
    grid-area: header;
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .main {
    grid-area: main;
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .footer {
    grid-area: footer;
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 20px;
  }
}
